<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Jesús Castañer | videostream</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', path='styles.css') }}"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <header>
            <nav class="navbar">
                <span class="navbar-brand">videostream</span>
                <div class="navbar-nav">
                    <a href="/">Inicio</a>
                    <a href="/upload">Subir vídeo</a>
                </div>
            </nav>
        </header>
        <main class="container">{% block content %}{% endblock %}</main>
    </body>
</html>
